/*  css classes for dashapp */
.css-header-card {
    height: 28px;
    border-top: 0px solid #222222;
    border-bottom: 2px solid #222222;
    border-left: 8px solid #222222;
    border-right: 8px solid #222222;
}
.css-dash-head {
    margin-top: -18px;
    padding-bottom: 0px;
}

.css-row-dd-head{
    margin-top: -15px;
}

.css-font {
    font-size: 10px;
}
.css-drp-down-card {
    margin-top: -20px;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
    border-left: 8px solid #222222;
    border-right: 8px solid #222222;
    height: 72px;
}



.css-drp-cntry, .css-drp-cp ,.css-drp-fy, .css-drp-regn {
    overflow-y: scroll;
    max-height: 40px;
    color: black;
}


.css-gscat-card {
    margin-top: -18px;
    margin-left: 0px;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
    border-left: 8px solid #222222;
    border-right: 8px solid #222222;
    height: 350px;
    width: 500px;

}

.css-sankey-card {
    margin-top: -18px;
    margin-left: -100px;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
    border-left: 8px solid #222222;
    border-right: 8px solid #222222;
    height: 350px;
    width: 655px;

}

.css-sunbrst-card{
    margin-top: -18px;
    margin-left: -100px;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
    border-left: 8px solid #222222;
    border-right: 8px solid #222222;
    margin-right: 0px;
    height: 620px;
}

.css-scatter-geo-fig {

    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: -10px;

}

.css-sankey-fig {

    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: -10px;   
}

.css-sunbrst-fig {
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

.css-barplot-card {
    margin-top: -290px;
    margin-left: 7px;
    width: 548px;
    height: 270px;
}

.css-barplot-fig{

    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: -10px;  
}

.css-scatter-card{
    margin-left: 40px;  
    width: 378px; 
    margin-top: -290px;
    height: 270px;
}

.css-scatter-fig {
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: -10px;    
}

/*  css classes for dashapp1 */

body {
    overflow-x: hidden;
}

.css-card-head {
    height: 25px;
    
}

.css-col-card-head {
    margin-top: -20px;
    border-top: 0px;
}

.css-card-drdn {
    height: 65px;
    border-top: 0px;
    margin-top: 0px;
}

.css-card-drdn-row1 {
    margin-top: -20px;
    padding-top: 0px;

}

.css-card-drdn-row2 {
    margin-top: -5px;
    max-height: 40px;
    
}


.css-card-drdn-row1-txt {
    margin-top: 5px;
    font-size: 13px;
}


.css-card-drdn-cntry {
    overflow-y: scroll;
    max-height: 35px;
    color: #1D617A;
}

.css-card-drdn-fy  {
    max-height: 35px;
    color:#1D617A;
}

.css-card-indc{
    height: 369px;
}

.css-card-bar {
    height: 369px;
}

.css-card-scat{
    height: 369px;   
}

.css-card-mapbox {
    height: 478px;
}
.css-indc-fig {
    margin-top: -17px;
    margin-left: -17px;
    margin-right: -17px;
    height: 361px;
}

.css-bar-fig {
    margin-top: -17px;
    margin-left: -17px;
    margin-right: -17px;
    height: 361px;
    width: 791px;
}

.css-scat-fig{
    margin-top: -17px;
    margin-left: -17px;
    margin-right: -17px;
    height: 361px;
    width: 632px;  
}

.css-mapbox-fig{
    margin-top: -17px;
    margin-left: -17px;
    margin-right: -17px;
    height: 470px;
    width: 936px;  
}